@import "../../../node_modules/tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
  --global-color-text: #7A7A7A;

  --primary-color: #f27b48;
  --secondary-color: #FCF4EC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--global-color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-text);
}

.solmix-tools{
  min-height: inherit;
}


